<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="use_sim_time" default="true"/>
  <arg name="physics" default="ode"/>
  <arg name="world_name" default="worlds/empty.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <!-- start gazebo servers-->
  <!-- note that for each simulation, the GAZEBO_MASTER_URI is set to a
       different port -->

  <group ns="sim1">
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
      args="-e $(arg physics) $(arg world_name)" >
      <env name="GAZEBO_MASTER_URI" value="http://localhost:11345" />
    </node>
  </group>

  <group ns="sim2">
    <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen"
      args="-e $(arg physics) $(arg world_name)" >
      <env name="GAZEBO_MASTER_URI" value="http://localhost:11346" />
    </node>
  </group>

</launch>
