<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">


  <xacro:include filename="$(find turtlebot_description)/urdf/turtlebot_library.urdf.xacro" />

  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_kinect  parent="base_link"/>

  <joint name="box_joint1" type="fixed">
	  <parent link="base_link"/>
	  <child link="orientation_box1"/>
	  <origin xyz=".1 0 .4" rpy="0 0 0" />
  </joint>

  <joint name="box_joint2" type="fixed">
	  <parent link="base_link"/>
	  <child link="orientation_box2"/>
	  <origin xyz="-.1 0 .4" rpy="0 0 0" />
  </joint>

  <link name='orientation_box1'>
	<visual name='visual'>
		<geometry>
			<box size=".2 .4 .01" />
		</geometry>
	</visual>
  </link>

  <link name='orientation_box2'>
	<visual name='visual'>
		<geometry>
			<box size=".2 .4 .01" />
		</geometry>
	</visual>
  </link>
  <gazebo reference="orientation_box1"><material>Gazebo/Red</material></gazebo>
  <gazebo reference="orientation_box2"><material>Gazebo/Orange</material></gazebo>
</robot>
